###############################################################################
# Python
###############################################################################
# Cache
__pycache__/

# Compiled Python
*.pyc

# Inputs/outputs
*.csv
*.txt
*.xls
*.xlsx
