###############################################################################
# Vagrant
###############################################################################
# Local, machine-specific Vagrant settings
*.local

# Vagrant data
.vagrant/*

# Log files
*.log
